{% extends 'base.html.twig' %}

{% block title %}Nos Mobil homes à la location{% endblock %}

{% block body %}
<div class="container mb-5 mt-5">
    <h1 class"my-3">Voici les mobil homes que nous vous proposons à la location</h1>
    
    <div class="row" id="location">
        {% for mobilhome in mobilhomes %}  {# pour chaque mobil home au sein de mon tableau Mobil homes#}
            {% include "mobil_home/_annonce.html.twig" %}
        {% endfor %}
    </div>

</div>
{% endblock %}
