            <!-- Footer -->
            <footer id="main-footer" class="text-left p-4 bg-primary mt-5">
                <div class="container">
                    <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <a href="#"><img src="/img/site/logo.png" alt="logo domaine les Ormes"></a>
                            </div>
                
                        <div class="col-lg-3 col-md-6 col-sm-12" >
                            <a href="#">
                                <h2>Domaine les Ormes</h2></a>       
                                <h6>55 route de Watten, 62910 SERQUES</h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;03 21 93 11 71 &nbsp; <i class="fas fa-mobile-alt"></i>&nbsp; 06 79 10 98 17 &nbsp; <a href="https://www.facebook.com/camping.domainelesormes?ref=br_rs" target="_blank"><i class="fab fa-facebook-square txt-facebook"></i></h6>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                            <a href="#"><img src="/img/site/wifi.png" alt="logo wifi"></a> &nbsp;
                            <a href="https://www.ancv.com/" target="_blank"><img src="/img/site/ancv.png" alt="Site des chèques-vacances"></a>  &nbsp;
                            <a href="https://www.vacaf.org/" target="_blank"><img src="/img/site/vacaf.png" alt="Site du vacaf"></a>  &nbsp;                    
                            
                        </div>
                        <div id="footer-link" class="col-lg-3 col-md-6 col-sm-12 text-right">
                            
                                <a href="#">Qui sommes-nous</a><br>
                                <a href="#">Contact</a><br>
                                <a href="#">Plan d'accès</a><br>
                            
                        </div>
                            
                    </div>
                        <div class="col text-center">
                            <br>
                            <a href="#"> Mentions légales</a> &copy;
                                <span id="year"></span> Domaine les Ormes
                            </p>
                        </div>
                    
                </div>
            </footer>
